.br-br-5{
    border-bottom-right-radius: 5px !important;
} 
.br-bl-5{
    border-bottom-left-radius: 5px !important;

}
.br-tl-5{
    border-top-left-radius: 5px !important;

}
.br-tr-5{
    border-top-right-radius: 5px !important;

}